<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <title>{{title}}</title>
  <meta property="og:title" content="{{title}}">
  <meta property="og:site_name" content="ReadyPath">
  <meta property="og:type" content="website">
  <meta name="description" content="{{description}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="{{ url_for('static', filename='preview.png') }}">
  <meta property="og:url" content="{{url}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/">ReadyPath</a>
    </div>
    <div class="navbar-links">
      <a style="padding: 0px 15px;" href="https://github.com/houndsec/readypath">GitHub</a>
      <a href="/terms">T&amp;C</a>
    </div>
  </nav>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
